:root {
  --bg-primary: #f9f4ef;
  --bg-secondary: #fffffe;

  --ff-primary: "Ubuntu", sans-serif;
  --fw-primary: 400;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  /* typography */
  font-family: var(--ff-primary);
  font-weight: 800;
  font-style: normal;

  /* dimensions, margins */
  max-width: 100%;
  margin: 0;
  background-color: var(--bg-primary);
  padding: 1.5rem;
}

p,
h1 {
  margin: 1.4rem 0;
}

.container {
  border: 2px solid black;
  margin-bottom: 1.5em;
  padding: 0 1rem 1rem;
}

.box {
  border: 2px solid black;
  background: var(--bg-secondary);
}
